{{- $params := .ctx.Site.Params -}}
{{- $mobile := .mobile -}}
{{- $posts := where .ctx.Site.RegularPages "Section" "in" .ctx.Site.MainSections -}}
<div class="sidebar-author">
  <img src="{{ " avatar/" | relURL }}{{ $params.avatar }}" alt="{{ $params.author }}" />
  <div class="sidebar-author-name">{{ $params.author }}</div>
</div>
<div class="sidebar-state">
  <div class="sidebar-state-article">
    <div>{{ i18n "sidebar.post" }}</div>
    <div class="sidebar-state-number">{{ len $posts }}</div>
  </div>
  <a class="sidebar-state-category" href="{{ " categories/" | relLangURL }}" aria-label="sidebar-state-category-link">
    <div>{{ i18n "sidebar.category" }}</div>
    <div class="sidebar-state-number">
      {{ len .ctx.Site.Taxonomies.categories }}
    </div>
  </a>
  <a class="sidebar-state-tag" href="{{ " tags/" | relLangURL }}" aria-label="sidebar-state-tag-link">
    <div>{{ i18n "sidebar.tag" }}</div>
    <div class="sidebar-state-number">{{ len .ctx.Site.Taxonomies.tags }}</div>
  </a>
</div>
<div class="sidebar-social" {{ if not $mobile }}style="margin-bottom: 20px;" {{ end }}>
  {{- range $name, $url := $params.social -}}
  <div class="icon-{{ $name }} sidebar-social-icon">
    <a href="{{ $url }}" itemprop="url" target="_blank" aria-label="{{ $name }}" rel="noopener nofollow noreferrer"></a>
  </div>
  {{- end -}}
</div>