{{- define "main" -}}
  {{- $ctx := . -}}
  {{- $pageSize := 0 -}}
  {{- with $.Site.Params.paginate.post -}}
    {{- $pageSize = . -}}
  {{- end -}}
  {{- $paginator := "" -}}
  {{- if gt $pageSize 0 -}}
    {{- $paginator = .Paginate .Pages $pageSize -}}
  {{- else -}}
    {{- $paginator = .Paginate .Pages -}}
  {{- end -}}
  {{- $sortConfig := .Site.Params.sort_order.home -}}
  
  {{- if eq $sortConfig "weight" -}}
    {{- range $k, $v := $paginator.Pages.ByWeight -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "weight-reverse" -}}
    {{- range $k, $v := $paginator.Pages.ByWeight.Reverse -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "date" -}}
    {{- range $k, $v := $paginator.Pages.ByDate -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "date-reverse" -}}
    {{- range $k, $v := $paginator.Pages.ByDate.Reverse -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "default" -}}
    {{- range $k, $v := $paginator.Pages -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- end -}}
  {{- partial "pagination.html" . -}}
{{- end -}}
