{{- define "main" -}}
  {{- $ctx := . -}}
  {{- $pageSize := 0 -}}
  {{- $homePages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections -}}
  {{- $homeCategoryKeys := slice -}}
  {{- if $ctx.Site.Params.home_categories.enable -}}
    {{- range $ctx.Site.Params.home_categories.content -}}
      {{- with .categories -}}
        {{- $homeCategoryKeys = $homeCategoryKeys | append (lower .) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $homeCategoryKeys) 0 -}}
    {{- $homePages = where $homePages "Params.categories" "intersect" $homeCategoryKeys -}}
  {{- end -}}
  {{- with $.Site.Params.paginate.post -}}
    {{- $pageSize = . -}}
  {{- end -}}
  {{- $paginator := "" -}}
  {{- if gt $pageSize 0 -}}
    {{- $paginator = .Paginate $homePages $pageSize -}}
  {{- else -}}
    {{- $paginator = .Paginate $homePages -}}
  {{- end -}}
  {{- $sortConfig := .Site.Params.sort_order.home -}}
  {{- if and (eq 1 $paginator.PageNumber) ($ctx.Site.Params.home_categories.enable) -}}
    <div class="post-categories-wrapper" data-aos="{{ $ctx.Site.Params.animation.options.home.post }}">
      {{- range $card := $ctx.Site.Params.home_categories.content -}}
        {{- with $card.categories -}}
          {{- $categoryKey := lower . -}}
          {{- $categoryTitle := $card.title | default (humanize .) -}}
          {{- $categoryPages := index $ctx.Site.Taxonomies.categories $categoryKey -}}
          <div class="post-categories-wrap">
            <a class="post-link" href="{{ (printf "%s%s" "categories/" (urlize .)) | relLangURL }}" aria-label="{{ $categoryTitle }}" title="{{ $categoryTitle }}"></a>
            <div class="post-categories-cover">
              {{- if $card.cover -}}
                <img
                  data-src="{{ $card.cover | relURL }}"
                  data-sizes="auto"
                  alt="{{ $categoryTitle }}"
                  class="lazyload"
                />
              {{- else -}}
                {{- $cover := partial "helpers/randomCover.html" $ctx -}}
                {{- if $cover -}}
                  <img
                    data-src="{{ $cover | relURL }}"
                    data-sizes="auto"
                    alt="{{ $categoryTitle }}"
                    class="lazyload"
                  />
                {{- else -}}
                  <img
                    data-src="{{ $ctx.Site.Params.banner | relURL }}"
                    data-sizes="auto"
                    alt="{{ $categoryTitle }}"
                    class="lazyload"
                  />
                {{- end -}}
              {{- end -}}
              <h2>{{ $categoryTitle }}</h2>
              <h3>{{ i18n "home_categories.count" (len ($categoryPages | default (slice))) }}</h3>
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
  {{- if eq $sortConfig "weight" -}}
    {{- range $k, $v := $paginator.Pages.ByWeight -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "weight-reverse" -}}
    {{- range $k, $v := $paginator.Pages.ByWeight.Reverse -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "date" -}}
    {{- range $k, $v := $paginator.Pages.ByDate -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "date-reverse" -}}
    {{- range $k, $v := $paginator.Pages.ByDate.Reverse -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- else if eq $sortConfig "default" -}}
    {{- range $k, $v := $paginator.Pages -}}
      {{- partial "post.html" (dict "index" $k "ctx" $ctx "page" $v) -}}
    {{- end -}}
  {{- end -}}
  {{- partial "pagination.html" . -}}
{{- end -}}
